<div class="register">
    <div class="header">
      S'enregistrer
    </div>

    <div class="content controls controls-row">

	    	<%= form_for("user", :url => user_registration_path) do |f| %>

	    	<div class="table">


	    		<div class="forms">
	    			<%= f.text_field :first_name, :class => "names", :placeholder => "Prénom" %>
					<%= f.text_field :last_name, :class => "names", :placeholder => "Nom" %>


					<%= f.email_field :email, :autofocus => true, :class => "large", :placeholder => "Votre Addresse Email" %>
					<%= f.password_field :password, :class => "large", :placeholder => "Votre Mot de Passe" %>
					<%= f.password_field :password_confirmation, :class => "large", :placeholder => "Veuillez confirmer votre mot de passe" %>
					<%= f.submit "Sign Up", :class => "signin" %>			
	    		</div>
	    	</div>


		<% end %>


    </div>
</div>