<!DOCTYPE html>
<html>
<head>
  <title>Unbound</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="contents">
  zfzezgergrg
</div>


<div id="sidebar-navs">
  <div class="sidebar-button">
    <%= link_to (image_tag "sidebar/user.png"), "#login-panel", :class => "login-panel" %>
  </div>
</div>

<div id="login-panel">
  <div id="quit">
    <a class="login-panel" href="#login-panel">QUIT</a>
  </div>
  
  <%= render "sidebar/login" %>
  <%= render "sidebar/register" %>

</div>

<script>
  var meny = Meny.create({
    // The element that will be animated in from off screen
    menuElement: document.querySelector( '#sidebar-navs' ),

    // The contents that gets pushed aside while Meny is active
    contentsElement: document.querySelector( '#login-panel' ),

    // The alignment of the menu (top/right/bottom/left)
    position: 'right',

    // The height of the menu (when using top/bottom position)
    height: 200,

    // The width of the menu (when using left/right position)
    width: 260,

    // Use mouse movement to automatically open/close
    mouse: true,

    // Use touch swipe events to open/close
    touch: true
});
</script>


	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
    	<%= current_user.email %>
    <% end %>

    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <div id="container">
    <%= yield %>
  </div>



  <%= javascript_include_tag "application" %>

</body>
</html>
