<!DOCTYPE html>
<html>
<head>
  <title>Unbound</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless user_signed_in? %>
<!-- This is the off-canvas sidebar -->
<div id="login-pan" class="uk-offcanvas">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
    <div id="login-panel">
      <%= render "sidebar/login" %>
      <%= render "sidebar/register" %>
      <%= render "sidebar/social" %>
    </div>

  </div>
</div>
<% end %>

<div id="sidebar-navs">
  <% unless user_signed_in? %>
  <div class="sidebar-button">
    <a href="#login-pan" data-uk-offcanvas><%= image_tag "sidebar/user.png" %></a>
  </div>
  <% end %>

  <% if user_signed_in? %>
  <div class="sidebar-button">
    <%= link_to (image_tag current_user.avatar.to_s), user_path(current_user), :class => "avatar", :title => 'Profil de ' + current_user.username %>
  </div>
  <% end %>

  <% if user_signed_in? %>
  <div class="sidebar-button">
    <%= link_to (image_tag "sidebar/lock.png"), logout_path(), :title => 'Se Deconnecter' %>
  </div>
  <% end %>
</div>




	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
    	<%= current_user.email %>
    <% end %>

    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <div id="container" style="width: 100%;">
    <%= yield %>
  </div>



  <%= javascript_include_tag "application" %>

</body>
</html>
